datasets/all-the-news.zip
datasets/all-the-news/articles1.csv
datasets/all-the-news/articles2.csv
datasets/all-the-news/articles3.csv
.idea/Headline_Generation_NLP-master.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/load_data-checkpoint.ipynb
